@media (max-device-width: 427px) {
    .wrapper {
      width: 100%;
      overflow-x: hidden;
    }
  }
  
  @media (max-width: 427px) {
    .container {
      width: 80%;
      margin: 0;
      margin-left: 46px;
    }
  
    .block {
      margin-left: 3px;
    }

  }

  
/* Header */
@media (max-device-width: 427px) {
    .header {
      height: 35px;
      overflow: hidden;
    }
    .header-row {
      height: 35px;
    }
    .header-tel {
      font-size: 5px;
    }
    .header-nav {
      display: none;
    }
    .header-logo {
      height: 48px;
    }
    img {
      width: 50px;
      height: 48px;
    }
      .mobile-nav-icon{
    display: flex;
  }
  }

 /* Home */
 @media (max-device-width: 427px) {
    .home {
        height: 190px;
        background: url("..//images/mobile-info.png") no-repeat;
    }
    .home-content{
        height: 137px;
        padding-top: 54px;
        padding-left: 161px;
    }

    .home-text{
    line-height: 18px;
    width: 202px;
    height: 130px;
    margin-left: -118px;
    margin-top: -37px;
    font-size: 13px;
    }

    .main-info{
        flex-direction: column;
    }
    .info-block {
        margin-top: 30px;
    }

    .heading-text{
    font-size: 20px;
    line-height: 35px;
    width: 233px;
    }
    .info{
        margin-top: 18px;
    }
.info-content{
    height: auto;
}
    .line img{
        width: 61px;
        height: 6px;
    }

    .info-text{
     width: 294px;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    }

    .btn{
        font-size: 15px;
        height: 33px;
    width: 156px;
    margin-top: 19px;
    margin-left: 79px;
    }

    .order{
        margin-top: 41px;
    }

    .order-text{
        font-size: 13px;
    }

    .info-img {
        margin-top: 14px;
    }

    .info-img img{
        width: 318px;
    height: 470px;
    }

    .adress img{
        width: 50px;
        height: 48px;
    }
    .img-text{
        font-size: 11px;
    }

    .rectangle{
        margin-left: 27%;
    margin-top: 61px;
        width: 147px;
        height: 28px;
    }

    .project-before-title{
        width: 161px;
    height: 30px;
    margin-left: 27%;
    margin-top: -35px;
    font-size: 16px;
    }
 
    .project-before{
        margin-top: 21px;
        height: 221px;
    }

    .project-before-content{
        height: 221px;;
    }
     
    .img-block{
        margin-left: -33px;
        padding-top: 17px;
    }
    .img-block img{
        width: 35%;
        height: 183px;
        margin-right: 1px;
    }
}

/* Footer */
@media (max-device-width: 427px) {
    .footer{
      height: 87px;
      overflow-y: hidden;
    }
    .footer-block{
      height: 96px;
      justify-content: space-between;
    }
    .footer-info img {
      width: 17px;
      height: 48px;
    }
    .footer-info p{
      font-size: 7px;
      width: 115px;
    }
    .mail{
      left: 136px;
      top: 18px;
    }
    .tel{
      left: 200px;
      top: 3px;
    }
  
    .footer-icon {
      display: flex;
      flex-direction: row;
      left: 34px;
      top: 34px;
    }
    .footer-icon img{
      width: 21px;
    }
    .footer-icon i{
      padding-right:  17px;
    }
    .footer-logo {
   display: none;
  }
}
